/* Estilos globais aqui */

@import 'tailwindcss/colors';

:root {
  --primary-50: #fdf2f8;
  --primary-500: #ec4899;
  --primary-600: #db2777;
  --primary-800: #9d174d;
  --secondary-50: #eff6ff;
  --secondary-200: #bfdbfe;
  --secondary-300: #93c5fd;
  --secondary-500: #3b82f6;
}

body {
  background-color: var(--secondary-50);
  color: #333;
}
